# macOS system files
.DS_Store

# Environments
.env
.myenv_py312
.venv/
myenv_py312/
env/
venv/
ENV/
__pycache__/
# Output files
output/
wandb/
wandb_integration/
data/
logs/
main_GEN/
main_OT/
Other/
.Rhistory
aggregate_metrics.py
logs/
